/*.post {
    margin: auto;
    width: 50%;
    padding: 1%;
    height: 100vh;
    background-color: #f9f5fa;
}*/

/* Setter button til høyre av root-div på egen linje */
.post .button {
    margin-right: 0;
    margin-left: auto;
    display: block;
}


.post img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .post {
        width: 100%;
    }

}