ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    display: inline-block;
    width: 96%;
    padding: 1em;
}

form li + li {
    margin-top: 1em;
}

textarea {
    vertical-align: top;
    resize: none;
    width: 80%;
    overflow: hidden;
    height: 120px;
    border: 1px solid black;
    border-radius: 5px;
}

textarea.title {
    height: 1em;
}

textarea.content {
    overflow-y: scroll;
    height: 20em;
}