/*#titlelist {
    margin: auto;
    width: 50%;
    padding: 1%;
    height: 100vh;
    background-color: #f9f5fa;
}*/

ul.titlelist {
    padding: 2%;
}

li.titlelist {
    margin: 1em;
    padding: 0.2em;
    border-bottom: solid black 1px;
}

a.titlelist {
    text-decoration: none;
    color:black;
    font-size: 2em;
}
