body {
  margin: 0;
}

#root {
    margin: auto;
    width: 50%;
    padding: 1%;
    height: auto;
    background-color: #f9f5fa;
}

#head-links a {
    text-decoration: underline;
    color:black;
    font-size: 1.5em;
}

/*.post {
    margin: auto;
    width: 50%;
    padding: 1%;
    height: 100vh;
    background-color: #f9f5fa;
}*/

@media screen and (max-width: 800px) {
    .post {
        width: 100%;
    }
}

.button {
  border: none;
  text-decoration: underline;
  font-size: 1.5em;
  background-color: inherit;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}